.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog{
padding: 10px;
color: azure;
}
.dialogsItems .active {
    color: aqua;
}
.messages .message  {
padding: 10px;
color:aliceblue
}
.avatar {
    width: 20px;
    height: 20px;
}
